streamlit
librosa
soundfile
tensorflow
pydub
audiorecorder
numpy
matplotlib
speechrecognition
pandas
fpdf
imageio-ffmpeg
os
sklearn
scipy
plotly
seaborn
transformers
feature_extraction
time
datetime
predict_emotion
